<form #itemForm="ngForm">
  <input type="number" placeholder="ID" name="itemId" ngModel required min="1" #itemIdInput="ngModel">

  <div *ngIf="itemIdInput.invalid && itemIdInput.touched">
    <div *ngIf="itemIdInput.errors?.min">ID yra per mažas skaičius</div>
    <div *ngIf="itemIdInput.errors?.required">Neįvestas ID</div>
  </div>
  <br>

  <input #itemNameInput="ngModel"
         name="itemName"
         placeholder="Pavadinimas"
         ngModel
         required
         minlength="3"
         [ngClass]="{
            greenBorder: itemNameInput.valid,
            redBorder: itemNameInput.invalid && itemNameInput.touched
         }">
  <br>

  <input type="number" placeholder="Kaina" name="itemPrice" ngModel min="1" required #itemPriceInput="ngModel">
  <div *ngIf="itemPriceInput.invalid && itemPriceInput.touched">Neteisingai įvesta kaina</div>
  <br>

  <input type="number" placeholder="Nuolaida (%)" name="itemDiscount" ngModel> <br>

  <button (click)="createItem(itemForm)" [disabled]="!itemForm.valid">Pridėti</button>
</form>

<a routerLink="/">Grįžti į sąrašą</a>
